#stage {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(11, 237, 165);
  overflow: hidden;
}

.slide {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  /* clip-path: circle(60px at center); */
  /* mask-image: radial-gradient(circle at 50% center, #0000 1%, #000 0); */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-circle {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.slide-1 {
  background-color: rgb(67, 58, 167);
  color: rgb(67, 58, 167);
}

.slide-1-circle {
  background-color: rgb(11, 237, 165);
}

.slide-2 {
  background-color: rgb(255, 145, 19);
  color: rgb(255, 145, 19);
}

.slide-2-circle {
  background-color: rgb(67, 58, 167);
}

.slide-3 {
  background-color: rgb(128, 0, 53);
  color: rgb(128, 0, 53);
}

.slide-3-circle {
  background-color: rgb(255, 145, 19);
}
