html {
  background-color: #faeca0;
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#stage {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.song-container {
  width: 50%;
}

.song-container h1,
.song-container h2 {
  margin-left: 48px; /* li padding left + scrollbar width */
}

.song-contents {
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 330px;
}

ul li {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  width: 100%;
}

li.active {
  position: relative;
  background-color: white;
}

li.pending {
  background-color: white;
}

li.pending:after {
  content: '-waiting';
}

li.active:before {
  content: '';
  background-color: #c8bd80;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform-origin: 0;
  transform: scaleX(0);
  animation-name: li-duration;
  animation-duration: 2181ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes li-duration {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

li span {
  position: relative;
}

.song-scrollbar {
  width: 8px;
  margin-top: -4px;
  margin-bottom: -4px;
  border-radius: 4px;
  background-color: #c8bd80;
}

.song-scrollbar-indicator-wrap {
  top: -8px;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 500;
}

.song-scrollbar-indicator {
  position: absolute;

  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-left: -50%;
  background-color: #5d5634;
}

.scroll-reminder {
  margin-top: 64px;
}

.canvas {
  height: 100%;
  margin-bottom: 64px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-menu {
  text-align: center;
  margin-bottom: 64px;
}

#dog-01 {
  height: 300px;
  width: 300px;
  position: relative;
}
#dog-02 {
  display: none;
  height: 300px;
  width: 300px;
  position: relative;
}

.dog > img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.dog-01-tail-01 {
  animation-name: soft-wag;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  transform: rotate(0deg);
  transform-origin: 40% 85%;
}

@keyframes soft-wag {
  0% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.dog-01-eye-left-01,
.dog-01-eye-right-01 {
  animation-name: blink;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
  }
  73% {
    visibility: hidden;
  }
  74% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  80% {
    visibility: visible;
  }
  85% {
    visibility: hidden;
  }
  86% {
    visibility: hidden;
  }
  87% {
    visibility: visible;
  }
  100% {
  }
}

.dog-01-iris-left-01 {
  animation-name: look-around-left;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  transform: translate(0px, 0px);
}

@keyframes look-around-left {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  23% {
    transform: translate(15px, 0px);
  }
  60% {
    transform: translate(15px, 0px);
  }
  63% {
    transform: translate(-5px, 0px);
  }
  67% {
    transform: translate(-5px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  73% {
    visibility: hidden;
  }
  74% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  80% {
    visibility: visible;
  }
  85% {
    visibility: hidden;
  }
  86% {
    visibility: hidden;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.dog-01-iris-right-01 {
  animation-name: look-around-right;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  transform: translate(0px, 0px);
}

@keyframes look-around-right {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  23% {
    transform: translate(7px, -1px);
  }
  60% {
    transform: translate(7px, -1px);
  }
  63% {
    transform: translate(-2px, 0px);
  }
  67% {
    transform: translate(-2px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  73% {
    visibility: hidden;
  }
  74% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  80% {
    visibility: visible;
  }
  85% {
    visibility: hidden;
  }
  86% {
    visibility: hidden;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.dog-02-body-01 {
  transform: rotate(0deg);
  transform-origin: 50% 88%;

  animation-name: rock;
  animation-duration: 1100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rock {
  0% {
    transform: rotate(-2deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.metronome.active {
  animation-name: bounce;
  animation-duration: 550ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
